passwd
*.env
secrets.*
__pycache__/
*.pyc
.DS_Store
Thumbs.db
shared/config.h
.vscode

#
firmware\uzol1\lib
firmware\uzol1\include
# 
firmware\uzol2\lib
firmware\uzol2\include
#
firmware\uzol3\lib
firmware\uzol3\include